.product-details {
  position: relative;
  text-align: center;
}

.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-image {
  transition: transform 0.5s ease-in-out;
  object-fit: contain;
  width: 300px;
  height: 300px;
}
.product-details {
  position: relative;
  
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.close-btn:hover {
  color: red;
}


.carousel-btn {
  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.add-to-cart-btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-btn:disabled {
  background-color: #6c757d;
}

.add-to-cart-btn:not(:disabled):hover {
  background-color: #218838;
}
